


#coursesComingSoon
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#coursesDiv
{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.videoCourses
{
 margin-top:60px;
}

.video-container {position: relative;padding-bottom: 56.25%;padding-top: 30px;height: 0;overflow: hidden; /* width: 80%; *//* margin: 40px; */}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}